.modal__container {
    position: fixed;
    inset: 0;
    right: 0;
    left: 0;
    z-index: 50;
    margin-left: auto;
    margin-right: auto;
    touch-action: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container--fullscreen {
    align-items: flex-start;
}

.modal__container--menu,
.modal__container--overlay-90,
.modal__container--overlay-95,
.modal__container--overlay-auto {
    align-items: flex-end;
}

@media (min-width: 576px) {
    .modal__container--menu,
    .modal__container--overlay-90,
    .modal__container--overlay-95,
    .modal__container--overlay-auto {
        align-items: center;
    }
}

.modal__safe-top {
    padding-top: env(safe-area-inset-top, 24px);
}

.modal__main {
    box-shadow: 0 4px 32px rgba(0,0,0,0.22), 0 4px 20px rgba(43, 52, 80, 0.04), 0 0 4px rgba(43, 52, 80, 0.04);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
}

.modal__main--fullscreen {
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    max-height: 100%;
}

.modal__main--menu {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    max-height: 93%;
}

@media (min-width: 576px) {
    .modal__main--menu {
        max-height: 95%;
        border-radius: 1.5rem;
    }
}

.modal__main--overlay-90,
.modal__main--overlay-95,
.modal__main--overlay-auto {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    max-height: 93%;
}

@media (min-width: 576px) {
    .modal__main--overlay-90,
    .modal__main--overlay-95,
    .modal__main--overlay-auto {
        height: auto;
        max-height: 95%;
        border-radius: 1.5rem;
    }
}

.modal__main--overlay-95 {
    max-height: 98%;
}

.modal__main--base {
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    max-height: 100%;
}

@media (min-width: 576px) {
    .modal__main--base {
        height: auto;
        max-height: 95%;
        border-radius: 1.5rem;
    }
}

.modal__main--sm { }
@media (min-width: 576px) {
    .modal__main--sm {
        width: 300px;
    }
}

.modal__main--md { }
@media (min-width: 768px) {
    .modal__main--md {
        width: 400px;
    }
}

.modal__main--lg { }
@media (min-width: 992px) {
    .modal__main--lg {
        width: 480px;
    }
}

.modal__main--2xl { }
@media (min-width: 1200px) {
    .modal__main--2xl {
        width: 550px;
    }
}

.modal__main--3xl { }
@media (min-width: 1400px) {
    .modal__main--3xl {
        width: 940px;
    }
}

.modal__main--opacity-0 {
    opacity: 0;
}

.modal__header {
    position: relative;
    z-index: 20;
}

.modal__body {
    z-index: 10;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    outline: none;
}

.modal__scroll-area {
    flex-grow: 1;
    max-width: 100%;
}

.modal__loader {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.modal__footer {
    padding: 1rem;
}

@keyframes slideUp90 {
    from { transform: translateY(90%);}
    to { transform: translateY(0);}
}
@keyframes slideUp95 {
    from { transform: translateY(95%);}
    to { transform: translateY(0);}
}
@keyframes slideRight {
    from { transform: translateX(100%);}
    to { transform: translateX(0);}
}
.modal__main--animate-slide-up-90 {
    animation: slideUp90 0.3s cubic-bezier(0.4,0,0.2,1);
}
.modal__main--animate-slide-up-95 {
    animation: slideUp95 0.3s cubic-bezier(0.4,0,0.2,1);
}
.modal__main--animate-slide-right {
    animation: slideRight 0.3s cubic-bezier(0.4,0,0.2,1);
}

.modal__backdrop {
    position: absolute;
    inset: 0;
    z-index: -20;
    height: 100%;
    width: 100%;
    background: #111827;
    transition: opacity 0.2s cubic-bezier(0.4,0,0.2,1);
    will-change: opacity;
    opacity: 0.5;
}
@media (min-width: 576px) {
    .modal__backdrop {
        opacity: 0.3;
    }
}
.modal__backdrop--hidden {
    opacity: 0;
}
